<ul class="nav flex-column menu-aside pt-4">
    <li class="nav-item">
        <a class="nav-link" href="#">Novedades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Sucursales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Redes Sociales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Telefonos Útiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Formas de Pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Preguntas Frecuentes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
    </li>

</ul>
